@model FATCA_Data_Preparation_and_Transmission_System.Models.NotificationsViewModel
@{
    ViewBag.Title = "Index";
}
<br />
<br />
<div class="card rounded-0 shadow col-lg-8 offset-lg-2">
    <div class="card-header bg-white"><h2 class="m-0">Decrypt notification</h2></div>
    <div class="card-body">

        @using (Html.BeginForm("Decrypt", "Notifications", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            @Html.AntiForgeryToken()

            <div class="row">
                @Html.Label("Encrypted notification", new { @class = "col-form-label col-sm-5" })
                <div class="col col-sm-7">
                    <div class="input-group">
                        <label class="input-group-addon" for="EncryptedNotification">
                            <i class="fa fa-file fileIcons"></i>
                        </label>
                        <input readonly type="text" placeholder="No file chosen" class="form-control">
                    </div>
                    @Html.TextBox("EncryptedNotification", null, new { @class = "form-control d-none", type = "file" })
                    @Html.ValidationMessageFor(m => m.EncryptedNotification)
                </div>
            </div>

            <div class="row">
                @Html.Label("Sender private key", new { @class = "col-form-label col-sm-5" })
                <div class="col col-sm-7">
                    <div class="input-group">
                        <label class="input-group-addon" for="SenderCertificate">
                            <i class="fa fa-file fileIcons"></i>
                        </label>
                        <input readonly type="text" placeholder="No file chosen" class="form-control">
                    </div>
                    @Html.TextBox("SenderCertificate", null, new { @class = "form-control d-none", type = "file" })
                    @Html.ValidationMessageFor(m => m.SenderCertificate)

                </div>
            </div>

            <div class="row mb-4">
                @Html.Label("Sender private key password", new { @class = "col-form-label col-sm-5" })
                <div class="col col-sm-7">
                    <div class="input-group">
                        <div class="input-group-addon invisible d-none">
                            <i class="fa fa-file fileIcons"></i>
                        </div>
                        @Html.TextBox("SenderCertPassword", null, new { @class = "form-control", type = "password", placeholder = "Password" })
                    </div>
                </div>
            </div>

            

            <div class="form-group row">
                <div class="col-lg-10"></div>
                <div class="col col-lg-2 text-right">
                    <button type="submit" class="btn btn-primary m-0">Decrypt</button>
                </div>
            </div>

        }

    </div>
</div>

<script>

    fileLabelsEventHandlers();

    function fileLabelsEventHandlers() {
        $("input[type='file']").each(function() {
            $(this).change(function () {
                let filePath = $(this).prop("value");
                let fileName = filePath.substr(filePath.lastIndexOf("\\") + 1);

                console.log(fileName);

                if (fileName === "") {
                    //fileName = "No file chosen";
                }

                $(".input-group-addon[for='" + $(this).prop("name") + "'] + input").val(fileName);
            });
        });
    }

    function test() {
        console.log("The script is running...");
        var x = $("input[type='file']")[0];
        console.log("filel: " + x.value);
    }

    model1Option2();

    function model1Option2() {
        $("#Model1Option2").change(function () {
            $(".model1Option2").toggleClass("d-none");
        });
    }

</script>

